{% extends 'base.html' %}

{% block title %}Book Detail{% endblock title %}

{% block content %}

    <h1>Add Student</h1>

        <form method="POST">
            {% csrf_token %}
            
            <label>Admission Number: </label>
            {{ form.admission_number }}<br><br>

            <label>Student Name : </label>
            {{ form.name }}<br><br>

            <label>Email : </label>
            {{ form.email }}<br><br>

            <label>Age : </label>
            {{ form.age }}<br><br>

            <label>class : </label>
            {{ form.class_level}}<br><br>

            <label>Description : </label>
            {{ form.description }}<br><br>

            <label>Image : </label>
            {{ form.image}}<br><br>

            <label>File : </label>
            {{ form.marklist}}<br><br>


            <input type="submit" value="submit">
        </form>



{% endblock content %}
